extends layout

block content
  table.mdl-data-table.mdl-js-data-table(style='width:100%;')
    thead
      tr
        th.mdl-data-table__cell--non-numeric API
        th.mdl-data-table__cell--non-numeric Status
        th Platform
        th.mdl-data-table__cell--non-numeric Type
    tbody
      tr
        td.mdl-data-table__cell--non-numeric GEO_MARKERS
        td.mdl-data-table__cell--non-numeric DEV
        td UNIVERSAL
        td.mdl-data-table__cell--non-numeric REST
      tr
        td.mdl-data-table__cell--non-numeric CHAT
        td.mdl-data-table__cell--non-numeric DEV
        td UNIVERSAL
        td.mdl-data-table__cell--non-numeric REST

